In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from scipy.stats import norm

In [254]:
def black_scholes(s, k, r, t, sigma, option_type):
    d1 = (np.log(s/k) + (r + sigma**2)/2) / (sigma * np.sqrt(t))
    d2 = d1 - (sigma * np.sqrt(t))
    n_d1 = norm.cdf(-d1)
    n_d2 = norm.cdf(-d2)
   
    if option_type == 'Call':
        c = norm.cdf(d1) * s - norm.cdf(d2) * k * np.exp(-r*t)
        return c
    else:
        p =  k * np.exp(-r *t)* n_d2 - s * n_d1
        return p

In [255]:
from datetime import datetime, time
import pandas_datareader.data as pdr
import yfinance as yf

##### Ticker and expiry date

In [256]:
ticker = 'QCOM'
expiry_date = '12-15-2023'

In [257]:
today = datetime.now().date()
one_year_ago = today.replace(year = today.year-1)

In [318]:
stock = yf.Ticker(ticker)
df = yf.download(ticker,start = one_year_ago, end = today,rounding = True )

[*********************100%***********************]  1 of 1 completed

In [319]:
df.head()

              Open    High     Low   Close  Adj Close    Volume
Date
2022-11-14  120.74  123.21  120.26  120.80     117.65   6971000
2022-11-15  125.65  128.13  123.42  126.02     122.73  12470200
2022-11-16  123.20  123.84  119.96  120.73     117.58   9561700
2022-11-17  118.95  123.12  118.71  122.86     119.66   7273700
2022-11-18  124.04  124.49  122.13  123.85     120.62   6436600

In [298]:
df_1 = df['Adj Close']
df_returns = df_1.to_frame()

In [299]:
#calculating returns
df_returns['returns'] = df['Adj Close'].pct_change()

In [300]:
df_returns['cum_ret'] = (df_returns['returns'] +1).cumprod()
df_returns.head()

                           Adj Close   returns   cum_ret
2022-11-14 10:30:00-05:00     122.06       NaN       NaN
2022-11-14 11:30:00-05:00     122.21  0.001229  1.001229
2022-11-14 12:30:00-05:00     122.75  0.004419  1.005653
2022-11-14 13:30:00-05:00     122.81  0.000489  1.006145
2022-11-14 14:30:00-05:00     121.91 -0.007328  0.998771

In [301]:
df_returns.dropna()

                           Adj Close   returns   cum_ret
2022-11-14 11:30:00-05:00     122.21  0.001229  1.001229
2022-11-14 12:30:00-05:00     122.75  0.004419  1.005653
2022-11-14 13:30:00-05:00     122.81  0.000489  1.006145
2022-11-14 14:30:00-05:00     121.91 -0.007328  0.998771
2022-11-14 15:30:00-05:00     120.78 -0.009269  0.989513
...                              ...       ...       ...
2023-11-13 14:30:00-05:00     124.21 -0.001688  1.017614
2023-11-13 15:30:00-05:00     123.85 -0.002898  1.014665
2023-11-14 09:30:00-05:00     127.15  0.026645  1.041701
2023-11-14 10:30:00-05:00     127.66  0.004011  1.045879
2023-11-14 16:00:00-05:00     127.36 -0.002350  1.043421

[1752 rows x 3 columns]

In [302]:
log_returns = np.log(df['Close']/df['Close'].shift(1)).dropna()
log_returns

2022-11-14 11:30:00-05:00    0.001228
2022-11-14 12:30:00-05:00    0.004409
2022-11-14 13:30:00-05:00    0.000489
2022-11-14 14:30:00-05:00   -0.007355
2022-11-14 15:30:00-05:00   -0.009312
                               ...
2023-11-13 14:30:00-05:00   -0.001689
2023-11-13 15:30:00-05:00   -0.002903
2023-11-14 09:30:00-05:00    0.026296
2023-11-14 10:30:00-05:00    0.004003
2023-11-14 16:00:00-05:00   -0.002353
Name: Close, Length: 1752, dtype: float64

In [303]:
df_returns['log_returns'] = log_returns

In [304]:
df_returns.tail()

                           Adj Close   returns   cum_ret  log_returns
2023-11-13 14:30:00-05:00     124.21 -0.001688  1.017614    -0.001689
2023-11-13 15:30:00-05:00     123.85 -0.002898  1.014665    -0.002903
2023-11-14 09:30:00-05:00     127.15  0.026645  1.041701     0.026296
2023-11-14 10:30:00-05:00     127.66  0.004011  1.045879     0.004003
2023-11-14 16:00:00-05:00     127.36 -0.002350  1.043421    -0.002353

##### Sigma

In [305]:
sigma = np.sqrt(252)*df_returns['log_returns'].std()
sigma

0.12864659938633502

In [306]:
sigma_ret = np.sqrt(252)*df_returns['returns'].std()
sigma_ret

0.12765852618649595

#### Risk-free rate

In [307]:
#risk-free rate, as the 10-year U.S. treasury yield which could get from ^TNX
r = yf.download('^IRX', rounding=True)['Adj Close'].tail(1)/100
r = r.values[0]
r

[*********************100%***********************]  1 of 1 completed

0.0525

In [308]:
r_10tres = yf.download('^TNX', rounding = True)['Adj Close'].tail(1)/100
r_10tres = r_10tres.values[0]
r_10tres

[*********************100%***********************]  1 of 1 completed

0.04441

#### Current stock price

In [309]:
#current stock price
s = df_returns['Adj Close'].iloc[-1]
s

127.36

#### Time

In [310]:
# time remaining untill expiration
t = (datetime.strptime(expiry_date, "%m-%d-%Y") - datetime.utcnow()).days / 365
t

0.07945205479452055

#### Strike price

In [313]:
strike_price = 135

In [317]:
print(black_scholes(s, strike_price, r_10tres, t, sigma_ret,'Call'))

-0.15966507400600705

In [315]:
r - 13 week treasury 
sigma_ret - normal ret
sigma - log ret

SyntaxError: invalid syntax (<ipython-input-315-a7f85f435c92>, line 1)